:root {
    --am-block-max-width: 100%;
    --am-block-margin-top: 0rem;
}

.am-block a {
    text-decoration: underline;
    color: #6096B4;
}

.levv-nav-bar-closed {
	height:fit-content;
	width:fit-content;
	grid-template-columns: auto auto 50px;
	grid-template-rows: 50px auto auto;
}

.levv-nav-bar-opened {
	height:100vh;
	width:100vw;
	grid-template-columns: 50px auto 50px;
	grid-template-rows: 50px auto 50vh;
}

#levv-toggle-menu {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	padding: 0;
  }
  .line {
	fill: none;
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
	  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
  }
  .line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
  }
  .line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
  }
  .opened .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
  }
  .opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
  }
  .opened .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	#levv-about-us h2 {
		@apply text-xl;
		@apply lg:text-2xl; 
		@apply font-passageway-bold; 
		@apply text-levv-wijnrood;
		@apply mt-3;
	}

	#levv-about-us figure {
		@apply flex;
		@apply flex-col;
		@apply items-center;
		@apply my-5;
	}

	#levv-about-us figure img {
		@apply w-4/5;
	}

	#levv-about-us figcaption {
		@apply italic;
	}

	@font-face {
		font-family: 'quicksand-light';
		font-display: swap;
		src: url('../fonts/quicksand/static/Quicksand-Light.ttf') format('truetype');
	}
	
	@font-face {
		font-family: 'quicksand';
		font-display: swap;
		src: url('../fonts/quicksand/static/Quicksand-Regular.ttf') format('truetype');
	}
	
	@font-face {
		font-family: 'quicksand-semi';
		font-display: swap;
		src: url('../fonts/quicksand/static/Quicksand-SemiBold.ttf') format('truetype');
	}
	
	@font-face {
		font-family: 'quicksand-bold';
		font-display: swap;
		src: url('../fonts/quicksand/static/Quicksand-Bold.ttf') format('truetype');
	}
	
	@font-face {
		font-family: 'passageway-light';
		font-display: swap;
		src: url('../fonts/passageway/PassagewayLight.woff') format('woff');
	}
	
	@font-face {
		font-family: 'passageway-bold';
		font-display: swap;
		src: url('../fonts/passageway/PassagewayBd.woff') format('woff');
	}
}